@{
    ViewBag.Title = "Tools";
    ViewBag.SubTitle = "Utitlities for everyday use";
    Layout = "_Layout";
}

<article>
    <h3>Hombank Converter</h3>
    <p>Convert Transaction History Exports from Sprakasse to a Hombank compatible CSV format</p>
    <form hx-encoding="multipart/form-data"
          hx-post
          hx-controller="Tools"
          hx-action="HomebankConvert"
          _="on htmx:afterRequest reset() me">
        <input type="file" name="file">
        <button>Convert <img height="14" class="htmx-indicator" src="/img/spinner.svg" alt="loading"/></button>
    </form>
</article>